# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [4]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [5]:
sinasc_raw_copy = sinasc_raw.copy

# Tarefa 2

### 1. Crie 2 faixas de Latitude do município (munResLat) sendo uma acima e outra abaixo de -10.5 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [7]:
lat = pd.cut(sinasc_raw['munResLat'], [-13, -10.5, -8])

In [8]:
lat

0        (-13.0, -10.5]
1        (-13.0, -10.5]
2        (-13.0, -10.5]
3        (-13.0, -10.5]
4        (-13.0, -10.5]
              ...
27023    (-13.0, -10.5]
27024    (-13.0, -10.5]
27025    (-13.0, -10.5]
27026    (-13.0, -10.5]
27027    (-13.0, -10.5]
Name: munResLat, Length: 27028, dtype: category
Categories (2, interval[float64, right]): [(-13.0, -10.5] < (-10.5, -8.0]]

In [14]:
sinasc_raw.pivot_table(
    values=['CODOCUPMAE'],
    index=['munResLat', lat],
    columns=['CONSULTAS'],
    aggfunc={np.sum, np.min, np.mean, np.max, np.median, np.std, np.var},
    fill_value=0)

                         CODOCUPMAE
                               amax                                    amin
CONSULTAS                         1       2       3       4       9       1
munResLat munResLat
-13.49976 (-13.0, -10.5]          0       0       0       0       0       0  \
          (-10.5, -8.0]           0       0       0       0       0       0
-13.47656 (-13.0, -10.5]          0       0       0       0       0       0
          (-10.5, -8.0]           0       0       0       0       0       0
-13.19503 (-13.0, -10.5]          0       0       0       0       0       0
...                             ...     ...     ...     ...     ...     ...
-9.19187  (-10.5, -8.0]      999994  999992  999992  999992       0  999992
-8.78502  (-13.0, -10.5]          0       0       0       0       0       0
          (-10.5, -8.0]      999994  999992  999994  999994  999992  351505
-8.76889  (-13.0, -10.5]          0       0       0       0       0       0
          (-10.5, -8.0]      999994  999994  999994  999994  999994   21210

                                                          ...
                                                          ...        sum
CONSULTAS                      2       3       4       9  ...          1
munResLat munResLat                                       ...
-13.49976 (-13.0, -10.5]       0       0       0       0  ...          0  \
          (-10.5, -8.0]        0       0       0       0  ...          0
-13.47656 (-13.0, -10.5]       0       0       0       0  ...          0
          (-10.5, -8.0]        0       0       0       0  ...          0
-13.19503 (-13.0, -10.5]       0       0       0       0  ...          0
...                          ...     ...     ...     ...  ...        ...
-9.19187  (-10.5, -8.0]   999992  223405  123115       0  ...    4999962
-8.78502  (-13.0, -10.5]       0       0       0       0  ...          0
          (-10.5, -8.0]   354705  239415  141410  999992  ...   18027309
-8.76889  (-13.0, -10.5]       0       0       0       0  ...          0
          (-10.5, -8.0]   141410   21210   10205  223605  ...  417146556



CONSULTAS                         2           3           4         9
munResLat munResLat
-13.49976 (-13.0, -10.5]          0           0           0         0  \
          (-10.5, -8.0]           0           0           0         0
-13.47656 (-13.0, -10.5]          0           0           0         0
          (-10.5, -8.0]           0           0           0         0
-13.19503 (-13.0, -10.5]          0           0           0         0
...                             ...         ...         ...       ...
-9.19187  (-10.5, -8.0]      999992     7970674    68239355         0
-8.78502  (-13.0, -10.5]          0           0           0         0
          (-10.5, -8.0]    16492725    64845446   162377262   1999984
-8.76889  (-13.0, -10.5]          0           0           0         0
          (-10.5, -8.0]   544029694  1867748720  3151878461  26137312


                                   var
CONSULTAS                            1             2             3
munResLat munResLat
-13.49976 (-13.0, -10.5]  0.000000e+00  0.000000e+00  0.000000e+00  \
          (-10.5, -8.0]   0.000000e+00  0.000000e+00  0.000000e+00
-13.47656 (-13.0, -10.5]  0.000000e+00  0.000000e+00  0.000000e+00
          (-10.5, -8.0]   0.000000e+00  0.000000e+00  0.000000e+00
-13.19503 (-13.0, -10.5]  0.000000e+00  0.000000e+00  0.000000e+00
...                                ...           ...           ...
-9.19187  (-10.5, -8.0]   8.000000e-01  0.000000e+00  1.129410e+11
-8.78502  (-13.0, -10.5]  0.000000e+00  0.000000e+00  0.000000e+00
          (-10.5, -8.0]   6.603523e+10  3.924700e+10  6.188108e+10
-8.76889  (-13.0, -10.5]  0.000000e+00  0.000000e+00  0.000000e+00
          (-10.5, -8.0]   1.093945e+11  5.163718e+10  7.592312e+10



CONSULTAS                            4             9
munResLat munResLat
-13.49976 (-13.0, -10.5]  0.000000e+00  0.000000e+00
          (-10.5, -8.0]   0.000000e+00  0.000000e+00
-13.47656 (-13.0, -10.5]  0.000000e+00  0.000000e+00
          (-10.5, -8.0]   0.000000e+00  0.000000e+00
-13.19503 (-13.0, -10.5]  0.000000e+00  0.000000e+00
...                                ...           ...
-9.19187  (-10.5, -8.0]   7.074641e+10  0.000000e+00
-8.78502  (-13.0, -10.5]  0.000000e+00  0.000000e+00
          (-10.5, -8.0]   5.891696e+10  0.000000e+00
-8.76889  (-13.0, -10.5]  0.000000e+00  0.000000e+00
          (-10.5, -8.0]   9.672039e+10  7.625915e+10

[104 rows x 35 columns]

In [13]:
sinasc_raw.pivot_table(
    values=['QTDGESTANT'],
    index=['munResLat', lat],
    columns=['CONSULTAS'],
    aggfunc={np.sum, np.min, np.mean, np.max, np.median, np.std, np.var},
    fill_value=0)

                         QTDGESTANT                                  ...
                               amax                amin              ...  sum
CONSULTAS                         1   2   3   4  9    1  2  3  4  9  ...    1
munResLat munResLat                                                  ...
-13.49976 (-13.0, -10.5]          0   0   0   0  0    0  0  0  0  0  ...    0  \
          (-10.5, -8.0]           0   0   0   0  0    0  0  0  0  0  ...    0
-13.47656 (-13.0, -10.5]          0   0   0   0  0    0  0  0  0  0  ...    0
          (-10.5, -8.0]           0   0   0   0  0    0  0  0  0  0  ...    0
-13.19503 (-13.0, -10.5]          0   0   0   0  0    0  0  0  0  0  ...    0
...                             ...  ..  ..  .. ..  ... .. .. .. ..  ...  ...
-9.19187  (-10.5, -8.0]           3   2   4  52  0    0  2  0  0  0  ...   10
-8.78502  (-13.0, -10.5]          0   0   0   0  0    0  0  0  0  0  ...    0
          (-10.5, -8.0]           9   6   7   7  2    0  0  0  0  0  ...   69
-8.76889  (-13.0, -10.5]          0   0   0   0  0    0  0  0  0  0  ...    0
          (-10.5, -8.0]          12  14  13  12  7    0  0  0  0  0  ...  887


                                                     var
CONSULTAS                    2     3     4   9         1         2         3
munResLat munResLat
-13.49976 (-13.0, -10.5]     0     0     0   0  0.000000  0.000000  0.000000  \
          (-10.5, -8.0]      0     0     0   0  0.000000  0.000000  0.000000
-13.47656 (-13.0, -10.5]     0     0     0   0  0.000000  0.000000  0.000000
          (-10.5, -8.0]      0     0     0   0  0.000000  0.000000  0.000000
-13.19503 (-13.0, -10.5]     0     0     0   0  0.000000  0.000000  0.000000
...                        ...   ...   ...  ..       ...       ...       ...
-9.19187  (-10.5, -8.0]      2    22   185   0  1.071429  0.000000  2.177778
-8.78502  (-13.0, -10.5]     0     0     0   0  0.000000  0.000000  0.000000
          (-10.5, -8.0]     47   115   286   2  7.853261  3.290476  2.779147
-8.76889  (-13.0, -10.5]     0     0     0   0  0.000000  0.000000  0.000000
          (-10.5, -8.0]   1058  3300  5449  45  2.753889  2.940085  2.256429



CONSULTAS                         4         9
munResLat munResLat
-13.49976 (-13.0, -10.5]   0.000000  0.000000
          (-10.5, -8.0]    0.000000  0.000000
-13.47656 (-13.0, -10.5]   0.000000  0.000000
          (-10.5, -8.0]    0.000000  0.000000
-13.19503 (-13.0, -10.5]   0.000000  0.000000
...                             ...       ...
-9.19187  (-10.5, -8.0]   34.044715  0.000000
-8.78502  (-13.0, -10.5]   0.000000  0.000000
          (-10.5, -8.0]    2.141819  2.000000
-8.76889  (-13.0, -10.5]   0.000000  0.000000
          (-10.5, -8.0]    1.748812  2.322581

[104 rows x 35 columns]

### 2. Crie 2 faixas da área dos municípios (munResArea) sendo uma acima e outra abaixo de 3000 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [15]:
area = pd.cut(sinasc_raw['munResArea'], [0, 3000, 1000000])

In [16]:

sinasc_raw.pivot_table(
    values=['CODOCUPMAE'],
    index=['munResArea', area],
    columns=['CONSULTAS'],
    aggfunc={np.sum, np.min, np.mean, np.max, np.median, np.std, np.var},
    fill_value=0)

                           CODOCUPMAE
                                 amax                                    amin
CONSULTAS                           1       2       3       4       9       1
munResArea munResArea
459.978    (0, 3000]                0  999992  999992  999992       0       0  \
           (3000, 1000000]          0       0       0       0       0       0
541.647    (0, 3000]           512120       0  999994  999994       0  512120
           (3000, 1000000]          0       0       0       0       0       0
605.692    (0, 3000]                0       0  239415  999992       0       0
...                               ...     ...     ...     ...     ...     ...
11518.915  (3000, 1000000]     999992  999992  999993  999994  999992  223505
24855.724  (0, 3000]                0       0       0       0       0       0
           (3000, 1000000]     999992  999992  999992  999992       0  354705
34096.394  (0, 3000]                0       0       0       0       0       0
           (3000, 1000000]     999994  999994  999994  999994  999994   21210

                                                            ...
                                                            ...        sum
CONSULTAS                        2       3       4       9  ...          1
munResArea munResArea                                       ...
459.978    (0, 3000]        999992  322205  141410       0  ...          0  \
           (3000, 1000000]       0       0       0       0  ...          0
541.647    (0, 3000]             0  239415  253115       0  ...     512120
           (3000, 1000000]       0       0       0       0  ...          0
605.692    (0, 3000]             0  239415  241005       0  ...          0
...                            ...     ...     ...     ...  ...        ...
11518.915  (3000, 1000000]  142115   21205   21205  142105  ...   11218993
24855.724  (0, 3000]             0       0       0       0  ...          0
           (3000, 1000000]  351105  223710  142105       0  ...   35316947
34096.394  (0, 3000]             0       0       0       0  ...          0
           (3000, 1000000]  141410   21210   10205  223605  ...  417146556



CONSULTAS                           2           3           4         9
munResArea munResArea
459.978    (0, 3000]           999992     2322189    43826896         0  \
           (3000, 1000000]          0           0           0         0
541.647    (0, 3000]                0     5111995    19560636         0
           (3000, 1000000]          0           0           0         0
605.692    (0, 3000]                0      239415     8683974         0
...                               ...         ...         ...       ...
11518.915  (3000, 1000000]   38970710   167111358   843779524   3393591
24855.724  (0, 3000]                0           0           0         0
           (3000, 1000000]  113306504   244026702   232961181         0
34096.394  (0, 3000]                0           0           0         0
           (3000, 1000000]  544029694  1867748720  3151878461  26137312


                                     var
CONSULTAS                              1             2             3
munResArea munResArea
459.978    (0, 3000]        0.000000e+00  0.000000e+00  1.531317e+11  \
           (3000, 1000000]  0.000000e+00  0.000000e+00  0.000000e+00
541.647    (0, 3000]        0.000000e+00  0.000000e+00  1.288331e+11
           (3000, 1000000]  0.000000e+00  0.000000e+00  0.000000e+00
605.692    (0, 3000]        0.000000e+00  0.000000e+00  0.000000e+00
...                                  ...           ...           ...
11518.915  (3000, 1000000]  8.867550e+10  8.906968e+10  1.026655e+11
24855.724  (0, 3000]        0.000000e+00  0.000000e+00  0.000000e+00
           (3000, 1000000]  3.618472e+10  2.391187e+10  3.479663e+10
34096.394  (0, 3000]        0.000000e+00  0.000000e+00  0.000000e+00
           (3000, 1000000]  1.093945e+11  5.163718e+10  7.592312e+10



CONSULTAS                              4             9
munResArea munResArea
459.978    (0, 3000]        5.744543e+10  0.000000e+00
           (3000, 1000000]  0.000000e+00  0.000000e+00
541.647    (0, 3000]        7.096392e+10  0.000000e+00
           (3000, 1000000]  0.000000e+00  0.000000e+00
605.692    (0, 3000]        9.258948e+10  0.000000e+00
...                                  ...           ...
11518.915  (3000, 1000000]  1.025419e+11  1.950278e+11
24855.724  (0, 3000]        0.000000e+00  0.000000e+00
           (3000, 1000000]  4.035482e+10  0.000000e+00
34096.394  (0, 3000]        0.000000e+00  0.000000e+00
           (3000, 1000000]  9.672039e+10  7.625915e+10

[104 rows x 35 columns]

In [17]:
sinasc_raw.pivot_table(
    values=['QTDFILVIVO'],
    index=['munResArea', area],
    columns=['CONSULTAS'],
    aggfunc={np.sum, np.min, np.mean, np.max, np.median, np.std, np.var},
    fill_value=0)

                           QTDFILVIVO                                  ...
                                 amax                amin              ...
CONSULTAS                           1   2   3   4  9    1  2  3  4  9  ...
munResArea munResArea                                                  ...
459.978    (0, 3000]                3   6   2   3  0    3  6  1  0  0  ...  \
           (3000, 1000000]          0   0   0   0  0    0  0  0  0  0  ...
541.647    (0, 3000]                1   0   5   2  0    1  0  0  0  0  ...
           (3000, 1000000]          0   0   0   0  0    0  0  0  0  0  ...
605.692    (0, 3000]                0   0   4   3  0    0  0  0  0  0  ...
...                               ...  ..  ..  .. ..  ... .. .. .. ..  ...
11518.915  (3000, 1000000]          3   6   4  10  2    0  0  0  0  0  ...
24855.724  (0, 3000]                0   0   0   0  0    0  0  0  0  0  ...
           (3000, 1000000]         10  11   8  10  1    0  0  0  0  1  ...
34096.394  (0, 3000]                0   0   0   0  0    0  0  0  0  0  ...
           (3000, 1000000]         12   9  12   8  6    0  0  0  0  0  ...


                            sum                            var
CONSULTAS                     1    2     3     4   9         1         2
munResArea munResArea
459.978    (0, 3000]          3    6     5    41   0  0.000000  0.000000  \
           (3000, 1000000]    0    0     0     0   0  0.000000  0.000000
541.647    (0, 3000]          1    0    15    25   0  0.000000  0.000000
           (3000, 1000000]    0    0     0     0   0  0.000000  0.000000
605.692    (0, 3000]          0    0     9    38   0  0.000000  0.000000
...                         ...  ...   ...   ...  ..       ...       ...
11518.915  (3000, 1000000]   11   67   245  1127   4  0.950549  1.581825
24855.724  (0, 3000]          0    0     0     0   0  0.000000  0.000000
           (3000, 1000000]   82  262   480   362   1  4.466312  3.840305
34096.394  (0, 3000]          0    0     0     0   0  0.000000  0.000000
           (3000, 1000000]  723  845  2701  4236  38  2.102530  2.109997



CONSULTAS                          3         4         9
munResArea munResArea
459.978    (0, 3000]        0.333333  0.526008  0.000000
           (3000, 1000000]  0.000000  0.000000  0.000000
541.647    (0, 3000]        2.277778  0.493902  0.000000
           (3000, 1000000]  0.000000  0.000000  0.000000
605.692    (0, 3000]        2.700000  0.625397  0.000000
...                              ...       ...       ...
11518.915  (3000, 1000000]  1.058191  1.015138  1.066667
24855.724  (0, 3000]        0.000000  0.000000  0.000000
           (3000, 1000000]  3.035172  1.847162  0.000000
34096.394  (0, 3000]        0.000000  0.000000  0.000000
           (3000, 1000000]  1.629423  1.216511  1.713978

[104 rows x 35 columns]

### 3. Determine faixas na variável munResAlt e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [19]:
alti = pd.qcut(sinasc_raw['munResAlt'], 2)

In [20]:
sinasc_raw.pivot_table(
    values=['QTDFILMORT'],
    index=['munResAlt', alti],
    columns=['CONSULTAS'],
    aggfunc={np.sum, np.min, np.mean, np.max, np.median, np.std, np.var},
    fill_value=0)

                          QTDFILMORT                                ...
                                amax              amin              ...  sum
CONSULTAS                          1  2  3   4  9    1  2  3  4  9  ...    1
munResAlt munResAlt                                                 ...
85.0      (84.999, 153.0]          1  1  2   5  1    0  0  0  0  0  ...    7  \
          (153.0, 595.0]           0  0  0   0  0    0  0  0  0  0  ...    0
87.0      (84.999, 153.0]          6  9  6   8  1    0  0  0  0  0  ...  174
          (153.0, 595.0]           0  0  0   0  0    0  0  0  0  0  ...    0
99.0      (84.999, 153.0]          2  0  2   2  0    0  0  0  0  0  ...    2
...                              ... .. ..  .. ..  ... .. .. .. ..  ...  ...
397.0     (153.0, 595.0]           0  0  1   3  0    0  0  0  0  0  ...    0
419.0     (84.999, 153.0]          0  0  0   0  0    0  0  0  0  0  ...    0
          (153.0, 595.0]           3  2  2   2  0    0  0  0  0  0  ...    4
595.0     (84.999, 153.0]          0  0  0   0  0    0  0  0  0  0  ...    0
          (153.0, 595.0]           1  2  4  28  0    0  0  0  0  0  ...    4


                                                   var
CONSULTAS                    2    3     4  9         1         2         3
munResAlt munResAlt
85.0      (84.999, 153.0]    7   15    61  1  0.221344  0.233333  0.195423  \
          (153.0, 595.0]     0    0     0  0  0.000000  0.000000  0.000000
87.0      (84.999, 153.0]  203  603  1204  7  0.456705  0.597948  0.375304
          (153.0, 595.0]     0    0     0  0  0.000000  0.000000  0.000000
99.0      (84.999, 153.0]    0    3    22  0  0.500000  0.000000  0.455556
...                        ...  ...   ... ..       ...       ...       ...
397.0     (153.0, 595.0]     0    4    23  0  0.000000  0.000000  0.168421
419.0     (84.999, 153.0]    0    0     0  0  0.000000  0.000000  0.000000
          (153.0, 595.0]     4   11    36  0  2.333333  0.527778  0.280672
595.0     (84.999, 153.0]    0    0     0  0  0.000000  0.000000  0.000000
          (153.0, 595.0]    17   56   321  0  0.219780  0.381222  0.341028



CONSULTAS                         4         9
munResAlt munResAlt
85.0      (84.999, 153.0]  0.435789  0.500000
          (153.0, 595.0]   0.000000  0.000000
87.0      (84.999, 153.0]  0.405922  0.180645
          (153.0, 595.0]   0.000000  0.000000
99.0      (84.999, 153.0]  0.254787  0.000000
...                             ...       ...
397.0     (153.0, 595.0]   0.236892  0.000000
419.0     (84.999, 153.0]  0.000000  0.000000
          (153.0, 595.0]   0.254455  0.000000
595.0     (84.999, 153.0]  0.000000  0.000000
          (153.0, 595.0]   0.870175  0.000000

[98 rows x 35 columns]

In [22]:

sinasc_raw.pivot_table(
    values=['QTDGESTANT'],
    index=['munResAlt', alti],
    columns=['CONSULTAS'],
    aggfunc={np.sum, np.min, np.mean, np.max, np.median, np.std, np.var},
    fill_value=0)

                          QTDGESTANT                                  ...
                                amax                amin              ...
CONSULTAS                          1   2   3   4  9    1  2  3  4  9  ...
munResAlt munResAlt                                                   ...
85.0      (84.999, 153.0]          9   6   7   7  2    0  0  0  0  0  ...  \
          (153.0, 595.0]           0   0   0   0  0    0  0  0  0  0  ...
87.0      (84.999, 153.0]         12  14  13  12  7    0  0  0  0  0  ...
          (153.0, 595.0]           0   0   0   0  0    0  0  0  0  0  ...
99.0      (84.999, 153.0]          3   2   4  52  0    0  2  0  0  0  ...
...                              ...  ..  ..  .. ..  ... .. .. .. ..  ...
397.0     (153.0, 595.0]           3   1   5   3  0    1  0  0  0  0  ...
419.0     (84.999, 153.0]          0   0   0   0  0    0  0  0  0  0  ...
          (153.0, 595.0]           3   3   5   9  0    0  0  0  0  0  ...
595.0     (84.999, 153.0]          0   0   0   0  0    0  0  0  0  0  ...
          (153.0, 595.0]           3   6   5   9  2    0  0  0  0  0  ...


                           sum                             var
CONSULTAS                    1     2     3     4   9         1         2
munResAlt munResAlt
85.0      (84.999, 153.0]   69    47   115   286   2  7.853261  3.290476  \
          (153.0, 595.0]     0     0     0     0   0  0.000000  0.000000
87.0      (84.999, 153.0]  887  1058  3300  5449  45  2.753889  2.940085
          (153.0, 595.0]     0     0     0     0   0  0.000000  0.000000
99.0      (84.999, 153.0]   10     2    22   185   0  1.071429  0.000000
...                        ...   ...   ...   ...  ..       ...       ...
397.0     (153.0, 595.0]     5     2    25   130   0  1.333333  0.333333
419.0     (84.999, 153.0]    0     0     0     0   0  0.000000  0.000000
          (153.0, 595.0]     5    10    56   183   0  2.333333  1.111111
595.0     (84.999, 153.0]    0     0     0     0   0  0.000000  0.000000
          (153.0, 595.0]    15    84   300  1410   4  0.994505  2.006033



CONSULTAS                         3          4         9
munResAlt munResAlt
85.0      (84.999, 153.0]  2.779147   2.141819  2.000000
          (153.0, 595.0]   0.000000   0.000000  0.000000
87.0      (84.999, 153.0]  2.256429   1.748812  2.322581
          (153.0, 595.0]   0.000000   0.000000  0.000000
99.0      (84.999, 153.0]  2.177778  34.044715  0.000000
...                             ...        ...       ...
397.0     (153.0, 595.0]   2.407895   0.941935  0.000000
419.0     (84.999, 153.0]  0.000000   0.000000  0.000000
          (153.0, 595.0]   2.070588   1.677512  0.000000
595.0     (84.999, 153.0]  0.000000   0.000000  0.000000
          (153.0, 595.0]   1.543828   1.435571  1.066667

[98 rows x 35 columns]

### 4. Plote no mesmo grafico ao longo do tempo a idade media das mulheres de cada regiao imediatas de rondonia
https://pt.wikipedia.org/wiki/Lista_de_regi%C3%B5es_geogr%C3%A1ficas_intermedi%C3%A1rias_e_imediatas_de_Rond%C3%B4nia

In [23]:
dados_ro = pd.read_csv('Bases de dados\dados_extras_ro.csv',
                       sep=';',
                       encoding='latin_1')
imediatas = dict(zip(dados_ro['municipio'], dados_ro['regiao']))

FileNotFoundError: [Errno 2] No such file or directory: 'Bases de dados\\dados_extras_ro.csv'

### 5. Utilize a tabela do link abaixo e crie faixas utilizando o mapping e gere agrupamentos utilizando essas faixas como chave

### 5.1 IDH
A - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IDH-M

### 5.2 IFDM 
B - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IFDM

### 5.3 PIB
C - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_PIB

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios com o PIB mais alto é a maior dentre todas.